<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <a class="delete" data-doc="<%= blog._id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
    <a class="upd" data-doc="<%= blog._id %>">
      <img src="/upd.svg" alt="update icon">
    </a>


    <div class="u">
      <form action="/blogs" method="PUT">
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required>
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required>
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required></textarea>
        <button>update</button>
      </form>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    

    const upda = document.querySelector('a.u');

upda.addEventListener('click', (e) => {
  const endpoint = `/blogs/`;

  fetch(endpoint, {
    method: 'PUT',
  })
  .then(response => response.json())
  .then(data => window.location.href = data.redirect)
  .catch(err => console.log(err));
});

  </script>
</body>
</html>